
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     th:object="${customer}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Customer Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-bs-label="Close"></button>
            </div>

            <div class="modal-body">
                <form>

                    <!-- Id -->
                    <div class="input-group mb-3">
                        <label for="id" class="col-sm-2 col-form-label">Id</label>
                        <input type="text" class="form-control" id="id" th:field="*{id}">
                    </div>

                    <!-- Name -->
                    <div class="input-group mb-3">
                        <label for="name" class="col-sm-2 col-form-label">Name</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}">
                    </div>

                    <!-- Username -->
                    <div class="input-group mb-3">
                        <label for="username" class="col-sm-2 col-form-label">Username</label>
                        <input type="text" class="form-control" id="username" th:field="*{surname}">
                    </div>

                    <div class="input-group mb-3">
                        <label for="email" class="col-sm-2 col-form-label">Username</label>
                        <input type="text" class="form-control" id="email" th:field="*{email}">
                    </div>

                    <div class="input-group mb-3">
                        <label for="phone" class="col-sm-2 col-form-label">Username</label>
                        <input type="text" class="form-control" id="phone" th:field="*{phone}">
                    </div>

                    <!-- Address -->
                    <div class="input-group mb-3">
                        <label for="address" class="col-sm-2 col-form-label">Address</label>
                        <input type="text" class="form-control" id="address" th:field="*{address}">
                    </div>

                    <!-- Buttons -->
                    <div class="float-end">
                        <button type="button"
                                class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

